.DS_Store
__pycache__
dev
Icon\r
Icon\r
Icon\r
Icon\r
Icon\r
Icon\r
Icon*
Live_and_ST/BBG_Live/Backup
Live_and_ST/BBG_Live/Samples
Live_and_ST/BBG_Live/Presets/Audio Effects/Max Audio Effect/old - not used
on_site_playback_app/BBG_player_v0.4.app/Contents
